<div id="container">
  <!-- <strong>{{ name }}</strong> -->
  <!-- <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  <div class="inicio"> 
      <div style="width: 40% !important;">
        <ion-img src="..\assets\images\CIVEOlogo.png" alt="Civeo Logo"></ion-img>
      </div>
  </div>
  <br>
  <br>
  <div class="Centrar10">
    <strong>¿Cómo rastrear tu pedido de tus lentes en CIVEO APP?</strong>
  </div>
  <br>
  <br>
  <div class="Centrar15">
    <p>&#9312; Ingresa tu número de télefono</p>
    <p>&#9312; Monitorea constantemente esta aplicación para conocer el estatus de tus lentes</p>
  </div>
  <br>
  <div class="Centrar15">
    <ion-item style="text-align: center !important;">
      <ion-input placeholder="Ingresa tu número aqui"></ion-input> 
    </ion-item>
  </div>
</div>